<header>
  <div class="logo">Job Applications Tracker</div>
  <nav>
    <ul>
      <li><a href="/">Front Page</a></li>
      <li><a href="/jobapps">All Job Apps</a></li>
      <li><a href="/jobapps/new">Log A New Job Application</a></li>
    </ul>
  </nav>
</header>
